---
import CppIcon from "../icons/CppIcon.astro";
import JavaIcon from "../icons/JavaIcon.astro";
import KotlinIcon from "../icons/KotlinIcon.astro";
import NextJsIcon from "../icons/NextJsIcon.astro";
import PostgreSQLIcon from "../icons/PostgreSQLIcon.astro";
import PythonIcon from "../icons/PythonIcon.astro";
import ReactIcon from "../icons/ReactIcon.astro";
import TailwindIcon from "../icons/TailwindIcon.astro";
import TechCard from "../TechCard.astro";
---

<section class="pb-8 w-full items-center" id="tecnologias">
	<h2 class="text-xl font-semibold pb-4">Tecnologias</h2>

	<div
		class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 ml-4 md:ml-16 items-center place-items-center content-center gap-16 my-3">
		<section
			class="col-span-3 grid grid-cols-subgrid place-items-center gap-3 content-between items-baseline pt-3 pb-5 rounded-lg border-2 border-primary border-dashed backdrop-blur-md">
			<div class="col-start-1 col-end-4 justify-self-start px-3">
				<span class="text-base text-primary">Frontend</span>
			</div>

			<TechCard title="React">
				<Fragment slot="icon">
					<ReactIcon height="52" width="52" />
				</Fragment>
			</TechCard>

			<TechCard title="React Native">
				<Fragment slot="icon">
					<ReactIcon height="52" width="52" />
				</Fragment>
			</TechCard>

			<TechCard title="Kotlin - Android">
				<Fragment slot="icon">
					<KotlinIcon height="42" width="42" />
				</Fragment>
			</TechCard>

			<TechCard title="Next.js">
				<Fragment slot="icon">
					<NextJsIcon height="46" width="46" />
				</Fragment>
			</TechCard>

			<TechCard title="Tailwind CSS">
				<Fragment slot="icon">
					<TailwindIcon height="52" width="52" />
				</Fragment>
			</TechCard>
		</section>

		<section
			class="col-span-3 grid grid-cols-subgrid place-items-center content-between items-baseline pt-3 pb-5 rounded-lg border-2 border-primary border-dashed backdrop-blur-md">
			<div class="col-start-1 col-end-4 justify-self-start px-3">
				<span class="text-base text-primary">Backend</span>
			</div>

			<TechCard title="C++">
				<Fragment slot="icon">
					<CppIcon height="42" width="42" />
				</Fragment>
			</TechCard>

			<TechCard title="Java">
				<Fragment slot="icon">
					<JavaIcon height="52" width="52" />
				</Fragment>
			</TechCard>

			<div class="">
				<TechCard title="Python">
					<Fragment slot="icon">
						<PythonIcon height="52" width="52" />
					</Fragment>
				</TechCard>
			</div>
		</section>

		<section
			class="col-span-1 grid grid-cols-subgrid place-items-center content-between items-baseline py-3 rounded-lg border-2 border-primary border-dashed backdrop-blur-md">
			<div class="col-start-1 justify-self-start px-3 pb-1">
				<span class="text-base text-primary">Bases de datos</span>
			</div>

			<TechCard title="PostgreSQL">
				<Fragment slot="icon">
					<PostgreSQLIcon height="56" width="56" />
				</Fragment>
			</TechCard>
		</section>
	</div>
</section>
