<button
	id="back-to-top"
	class="fixed bottom-10 right-10 bg-primary text-primary-content p-2 rounded-full border-2 border-primary shadow-lg transition-opacity duration-300 opacity-0 invisible cursor-pointer"
	aria-label="Back to top">
	<svg
		xmlns="http://www.w3.org/2000/svg"
		class="h-6 w-6 text-white"
		fill="none"
		viewBox="0 0 24 24"
		stroke="currentColor">
		<path
			stroke-linecap="round"
			stroke-linejoin="round"
			stroke-width="2"
			d="M5 10l7-7m0 0l7 7m-7-7v18"></path>
	</svg>
</button>
