---
import TailwindIcon from "./icons/TailwindIcon.astro";
import { type ReactNode } from "react";

interface Props {
    label: string;
}

const { label } = Astro.props;
---

<div class="flex flex-row rounded-full min-h-7 min-w-8 w-auto cursor-default items-center justify-center gap-2">
    <slot />
    <span class="text-slate-500 text-xs sm:text-sm">{label}</span>
</div>