---
import type { Formacion } from "../types/Formacion";
import { Timeline } from "./Timeline";

const fechasExperienciaLaboral: Formacion[] = [
	{
		fecha: "mar/2022 - feb/2025",
		titulo: "Auxiliar en los laboratorios de informática",
		institucion: "Universidad Nacional de la Patagonia San Juan Bosco - Puerto Madryn",
		descripcion:
			"Auxiliar de segunda en los laboratorios de informática en la UNPSJB",
	}
];
---

<section class="mt-8" id="experienciaLaboral">
	<h2 class="text-xl font-semibold">Experiencia laboral</h2>
	<div class="w-full py-8 pl-16">
		<Timeline formaciones={fechasExperienciaLaboral} />
	</div>
</section>
