---
import type { Experiencia } from "../types/Experiencia";
import TimelineExperiencias from "./TimelineExperiencias.astro";

const fechasExperienciaLaboral: Experiencia[] = [
	{
		fecha: "mar/2022 - feb/2025",
		titulo: "Auxiliar en los laboratorios de informática",
		institucion: "Universidad Nacional de la Patagonia San Juan Bosco - Puerto Madryn",
		puesto:
			"",
		descripcion: "Proporcioné mantenimiento de redes, servidores y soporte técnico general en todas las áreas para garantizar un rendimiento óptimo y minimizar las interrupciones laborales."
	}
];
---

<section class="mt-8" id="experienciaLaboral">
	<h2 class="text-xl font-semibold">Experiencia laboral</h2>
	<div class="w-full py-8 pl-16">
		<TimelineExperiencias experiencias={fechasExperienciaLaboral} />
	</div>
</section>
