<header
	class="md:flex md:flex-row w-full hidden md:visible h-16 sticky top-0 items-center justify-center bg-zinc-900/90 backdrop-blur-md z-[2] border-b-2 border-cyan-500">
	<nav
		class="flex flex-row w-full md:w-1/2 h-full gap-6 md:gap-8 justify-center items-center text-center">
		<a
			class="text-slate-500 hover:scale-105 hover:text-cyan-600 transition-all"
			href="#">Inicio</a
		>
		<a
			class="text-slate-500 hover:scale-105 hover:text-cyan-600 transition-all"
			href="#experienciaLaboral">Experiencia laboral</a
		>
		<a
			class="text-slate-500 hover:scale-105 hover:text-cyan-600 transition-all"
			href="#proyectos">Proyectos</a
		>
		<a
			class="text-slate-500 hover:scale-105 hover:text-cyan-600 transition-all"
			href="#tecnologias">Tecnologias</a
		>
		<a
			class="text-slate-500 hover:scale-105 hover:text-cyan-600 transition-all"
			href="#historialAcademico">Historial Académico</a
		>
		<a
			class="text-slate-500 hover:scale-105 hover:text-cyan-600 transition-all"
            href="#otrasFormaciones"
			>Cursos</a
		>
	</nav>
</header>
