---
import { Image } from "astro:assets";
import fotoPerfil from "../assets/FotoPerfilSinFondo.webp";
import LinkedInIcon from "./icons/LinkedInIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import ExperienciaLaboral from "./sections/ExperienciaLaboral.astro";
import Tecnologias from "./sections/Tecnologias.astro";
import HistorialAcademico from "./sections/HistorialAcademico.astro";
import Proyectos from "./sections/Proyectos.astro";
import Divider from "./Divider.astro";
import DocumentIcon from "./icons/DocumentIcon.astro";
import Cursos from "./sections/Cursos.astro";
---

<section class="w-3/4 flex flex-col h-full place-self-center z-0">
	<section
		class="flex md:flex-row flex-col justify-center md:justify-start items-center w-full mt-10 px-12 pb-8 border-primary"
		id="biografia">
		<Image
			class="md:w-auto justify-self-center drop-shadow z-0 py-4 md:py-0"
			src={fotoPerfil}
			alt="Foto de perfil"
			height="132"
			width="132"
		/>
		<div class="flex flex-col h-full pl-0 md:pl-16 pb-3 w-full md:w-2xl">
			<h1 class="font-bold text-3xl text-primary">Fabricio Pafumi</h1>
			<p class="text-slate-400">Full Stack Developer</p>
			<p class="text-slate-400">Analista Programador Universitario</p>
			<p class="text-base text-white py-3">
				Programador Full Stack con experiencia en desarrollo web y móvil.
				Enfocado en el aprendizaje continuo y la mejora constante, buscando
				siempre desarrollar soluciones optimizadas y escalables.
			</p>

			<div class="flex flex-row items-center gap-4 pt-3">
				<a
					class="hover:scale-110 duration-300 transition-all"
					href="https://github.com/fepa0110"
					target="_blank">
					<GithubIcon height="32" width="32" />
				</a>

				<a
					class="hover:scale-110 duration-300 transition-all"
					href="https://www.linkedin.com/in/fabricio-pafumi-viola/"
					target="_blank">
					<LinkedInIcon height="32" width="32" />
				</a>
				<a
					href="/CV.pdf"
					target="_blank"
					class="flex flex-row items-center gap-1 rounded-lg border-2 py-1 px-3 border-slate-400 hover:scale-105 transition-all">
					<DocumentIcon height="18" width="18" />
					<span>CV</span>
				</a>
			</div>
		</div>
	</section>

	<Divider />

	<ExperienciaLaboral />

	<Tecnologias />

	<HistorialAcademico />

	<Cursos />

	<Proyectos />
</section>
