<section class="bg-zinc-800 p-16">
    <h1 class="font-bold text-lg">Fabricio Pafumi</h1>
    <p class="text-base">Analista Programador Universitario</p>
    <p class="text-base">Tengo 28 años</p>
</section>

<h2 class="text-xl font-semibold">Experiencia laboral</h2>

<h2 class="text-xl font-semibold">Historia Academica</h2>

<ul>
    <li>
        Técnico en electrónica
    </li>

    <li>
        Analista Programador Universitario
    </li>

    <li>
        Licenciatura en informática
    </li>
</ul>

<h2 class="text-xl font-semibold">Proyectos</h2>