---
import Card from "./Card.astro";
import Divider from "./Divider.astro";
import LargeCard from "./LargeCard.astro";
---

<section class="my-8" id="proyectos">
	<h2 class="text-xl font-semibold">Proyectos</h2>

	<div class="flex flex-col gap-6 w-full mt-6">
        <LargeCard
			title="Traxpet"
			description=""
			imagePath="/src/assets/TuringMind.jpg"
			fecha="2022"
			link="/"
		/>

		<LargeCard
			title="TuringMind"
			description="Aplicación de simulación de una máquina de Turing mediante automatas."
			imagePath="/src/assets/TuringMind.jpg"
			fecha="2022"
			link="/"
		/>
	</div>
</section>
