---
import ProgressBar from "./ProgressBar.astro";
import { type ReactNode } from "react";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<div
	class="flex flex-col w-3/5 items-center justify-between gap-2 transition-all">
	<slot name="icon" />
	<div class="text-base font-medium dark:text-white">{title}</div>
</div>
