---
import GithubIcon from "./icons/GithubIcon.astro";
import type { Link } from "../types/Link";
import CarouselReact from "./carousel/CarouselReact";
import type { SlideData } from "../types/SlideData";
import type { Experiencia } from "../types/Experiencia";

interface Props {
	experiencias: Experiencia[];
}

const { experiencias } = Astro.props;
---

<ol class="relative border-s-2 border-cyan-600">
	{
		experiencias.map((experiencia) => {
			return (
				<li class="mb-10 ms-4">
					<div class="flex flex-row items-center pt-1.5">
						<span class="absolute flex size-3 -translate-x-[23px]">
							<span class="absolute inline-flex h-full w-full animate-ping rounded-full bg-cyan-500 opacity-75" />
							<span class="relative inline-flex size-3 rounded-full bg-cyan-600" />
						</span>

						<time class="text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
							{experiencia.fecha}
						</time>
					</div>
					<h3 class="mt-2 text-lg font-semibold text-white">
						{experiencia.titulo}
					</h3>
					<p class="mb-3 text-base font-normal text-cyan-700">
						{experiencia.institucion}
					</p>
					<p class="mb-4 text-base font-normal text-zinc-100">
						{experiencia.descripcion}
					</p>
				</li>
			);
		})
	}
</ol>
