---
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>Fabricio Pafumi Portfolio</title>
	</head>

	<script>
		const backToTopButton = document.getElementById("back-to-top");

		function toggleBackToTopButton() {
			if (window.scrollY > 300) {
				backToTopButton.classList.remove("opacity-0", "invisible");
				backToTopButton.classList.add("opacity-100", "visible");
			} else {
				backToTopButton.classList.add("opacity-0", "invisible");
				backToTopButton.classList.remove("opacity-100", "visible");
			}
		}

		function scrollToTop() {
			window.scrollTo({
				top: 0,
				behavior: "smooth",
			});
		}

		window.addEventListener("scroll", toggleBackToTopButton);
		backToTopButton.addEventListener("click", scrollToTop);
	</script>
	<body class="w-full h-full bg-zinc-900 text-slate-300 px-8">
		<slot />
	</body>
</html>

<style>
	body {
		font-family: "Lexend Deca", serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
	}
</style>
